.main-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.map-and-text-div {
    /* float: left; */
    width: 50%;
    margin-left: 5%;
}

.map-container {
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
}

#map {
    border-radius: 8px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 50px; */
}

.store-list-container {
    margin-top: 70px;
    width: 45%;
    max-height: 524px;
    overflow-y: auto;  
}

.store-list-item {
    padding: 5px;
    border: 2px solid white;
    width: 75%;
    margin: 0 auto;
    height: 50px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}